.transaction-section {
    box-shadow: 0 0 6px 0 var(--light-txt-clr);
    min-width: 900px;
}
.table-header {
    background-color: var(--table-header);
    color: var(--white-bg-clr);
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
.table {
    width:100%;
    border-collapse: collapse;
    font-size: 18px;
}
.th-col,
.td-col {
    width: 33%;
    padding: 15px 0;
}
.td-row {
    color: var(--midgrey-txt-clr);
    letter-spacing: 0.05em;
}

.td-row:nth-of-type(2n) {
    background-color: var(--grey-bg-clr);
}
.type {
    text-transform: capitalize;
}
.td-col{
    border: solid 2px var(--grey-bg-clr);
}
.th-col{
    border: solid 2px var(--white-bg-clr);
}
